body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

.container {
    text-align: center;
    margin-left: 20px;
    display: inline-block;
    padding: 20px;
    border-radius: 1px;
    height: 200px;
    width: 200px;
}

.top {
    font-size: 30px;
    font-weight: bold;
}

.recommendations {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.info {
    max-width: 200px;
}

.bottom {
font-size: 15px;
}

button {
    border: black;
    border-radius: 10px;
    background-color: #eee;
}
.recs {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.avatar, .avatartwo {
    height: 200px;
    max-width: 300px;
}


ul {

    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-size: 15px;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.text {
    max-width: 200px;
}

.quote {
    font-size: 27px;
    font-style: italic;
    padding: 50px;
    background-color: lightpink;
}

 a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
